* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
    background-color: white; 
    color: black;
    transition: background-color 0.5s, color 0.5s; 
}

body.dark-mode {
    background-color: #1a1a1a; 
    color: #f0f0f0;
 }


header .interface {
display: flex;
justify-content: space-around;
align-items: center;
}

.logo {
    width: 40px;
    margin-top: 5px;
}

header .menu-desktop nav ul {
    list-style: none;   
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0;
    }

    header .menu-desktop nav ul li a {
        color: #6d10c4;
        text-decoration: none;
        display: inline-block;
        transition: 0.2s;
    }
    header .btncontato button {
        width: 50px;
        height: 30px;
        border-radius: 2%;
}

     header .menu-desktop nav ul li a:hover {
        transform: scale(1.05);
     }

     header .btncontato button:hover {
       background-color:  #ffffff;
       color:  #b568e2;
       transition:  0.5s;
     }

     .botaologin {
         background: #6e0d94;
        color: #f5f5f5;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
      transition: .4;
     border-color: transparent;
     }
.botaologin:hover {
     background: #eb46a6;
    color: #ad1372;
    
}

/*cadastro*/


.cadastro {
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 100vh;
    padding: 80px;
    background-image: url(img/img-cadastro-oceano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    max-height: 400px;
   
    }
    
.div1 {
    grid-column: span 5 / span 5;
    align-items: center;
    justify-content: center;
    display: flex;
  background: linear-gradient(to right, #9a6be6, #0e1081);
  color: #ffffff;
  font-weight: 100px;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    color: #ad1372;
    border-color: #0e1081;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
        color: #ad1372;
         border-color: #0e1081;

}

.div4 {
    grid-column: span 3 / span 3;
    grid-row-start: 4;
        color: #ad1372;
        
         border-color: #0e1081;

}

.div5 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
        color: #ad1372;
         border-color: #0e1081;

}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
         background: #ce2db3;
        color: #050505;
        border-radius: 34px 64px ;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
      transition: .4;
border-color:  transparent;
}

.div6:hover {
      background: #eb46a6;
    color: #ad1372;
    cursor: pointer;
    
}
/*rodape*/

.rodape {
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
  background-color: #050505;
 color: #f5f5f5;
  height: 80px;
 }

.rodapeLista {
    list-style-type: none;
}

.rodapeLista:hover {
    cursor: pointer;
}


.checkBox {
    display: none;     
}


.label {
    width: 60px; 
    height: 30px; 
    background-color: #111; 
    display: flex;
    border-radius: 50px; 
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}


.ball {
    width: 25px; 
    height: 25px;
    background-color: white;
    position: absolute; 
    top: 2.5px;
    left: 2.5px;
    border-radius: 50%;
    transition: transform 0.3s linear;
}


/*tema dark*/

.checkBox:checked + .label .ball {
    transform: translateX(30px); 
    background-color: #222;
}

.checkBox:checked + .label {
    background-color: #999; 
}


.label .bi-sun {
    color: yellow;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
}

.label .bi-moon-fill {
    color: white;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.3s;
}

.checkBox:checked + .label .bi-sun {
    opacity: 0;
}

.checkBox:checked + .label .bi-moon-fill {
    opacity: 1;
}
        
