* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

header {
 width: 100%;
 background-color:#ffffff;
 }

header .interface {
display: flex;
justify-content: space-around;
align-items: center;
}

.logo {
    width: 40px;
    margin-top: 5px;
}

header .menu-desktop nav ul {
    list-style: none;   
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0;
    }

    header .menu-desktop nav ul li a {
        color: #6d10c4;
        text-decoration: none;
        display: inline-block;
        transition: 0.2s;
    }
    header .btncontato button {
        width: 50px;
        height: 30px;
        border-radius: 2%;
}

     header .menu-desktop nav ul li a:hover {
        transform: scale(1.05);
     }

     header .btncontato button:hover {
       background-color:  #ffffff;
       color:  #b568e2;
       transition:  0.5s;
     }

     .botaologin {
         background: #6e0d94;
        color: #f5f5f5;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
      transition: .4;
     border-color: transparent;
     }
.botaologin:hover {
     background: #eb46a6;
    color: #ad1372;
    
}
/*rodape*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
  background-color: #050505;
 color: #f5f5f5;
 padding: 40px;
 height: 80px;

}

.rodapeLista {
    list-style-type: none;
}

.rodapeLista:hover {
    cursor: pointer;
}
