* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

.logo {
    width: 40px;
}

.interface {
    background-color: rgb(255, 255, 255);
}
.interface {
    background-color: rgb(255, 255, 255);
    color: aliceblue;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 5px;
   }

.bnt {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 50, 61);
}

